<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%include ../../partials/stylesheets.ejs%>
    <title>Trail Mix</title>
  </head>
  <body>
    <div class="header">
      <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox"
          <%if(currentUser!=="none"){%>
            checked
          <%}%>
          />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <%if(currentUser==="none"){%>
              <a class="button button-primary" id="button-header" href="/account/create"><li>Sign Up</li></a>
              <a class="button" id="button-header" href="/account/login"><li>Log In</li></a>
            <%}else{%>
              <a class="button button-primary" id="button-header" href="#"><li>Add a Trail</li></a>
              <a class="button" id="button-header" href="#"><li>Your Trails</li></a>
              <a class="button" id="button-header" href="#"><li>Log Out</li></a>
            <%}%>
          </ul>
        </div>
      </nav>
      <div class="header-text">
        <h1>Trail Mix</h1>
      </div>
    </div>
    <div class="header-tag">
      <h2>Save and Share Your Adventures</h2>
    </div>
    <div class="main">
      <h2>Recent Shared Posts</h2>
      <%for(let i=0; i<trails.length; i++){%>
        <div class="trail u-full-width" style="background-image: url(<%=trails[i].image%>)">
          <div class="trail-preview">
            <h5><%=trails[i].trail_name%></h5>
            <p><%=trails[i].location%></p>
            <p><%=trails[i].distance%></p>
            <p><%=trails[i].trail_features%></p>
            <p>Posted by: <%=trails[i].username%></p>
            <a class="button" href="/trails/view/<%=trails[i]._id%>">See More</a>
          </div>
        </div>
        <%}%>
    </div>
  </body>
</html>
