<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%include ../../partials/stylesheets.ejs%>
    <title><%=trail[0].trail_name%></title>
  </head>
  <body>
    <h1><%=trail[0].trail_name%></h1>
    <p><%=trail[0].trail_features%></p>
    <%if(currentUser === trail[0].user){%>
      <a class="button" href="/trails/edit/<%=trail[0]._id%>">Edit Trail</a>
      <form action="/trails/<%=trail[0]._id%>?_method=DELETE" method="post">
        <input type="submit" value="Delete">
      </form>
    <%}%>
  </body>
</html>
